<!DOCTYPE html>
<html lang="en">
    <title>Clement Barbisan</title>
    <head>
    </head>

    <body class="container">

        <header>
            <script>
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
                    window.location.href = "http://clementbarbisan.com/mobile"
                }
            </script>
            <script src="../library/math.js">
            </script>
            <script src="../library/three.js">
            </script>
            <script src="../src/loop.js"></script>
            <link rel="stylesheet" href="../css/style.css">
        </header>

        <main>

            <div id="content" style="position: absolute; width: 80%; height:100%; left:10%; top:0; zoom: 0.0001;-moz-transform: scale(0.0001); border:0; box-shadow: 1px 2px 4px grey;">
                <iframe style="width: 100%; height: 100%; border: 0; background-color: white" id="iframe" src="" >

                </iframe>
            </div>
            <div id="canvas">

            </div>
                <button id="button" style="position:absolute; top:95%;left:50%; -moz-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);" onclick="match()" >MATCH</button>
            <div id="panel" style="position: absolute; width:175px; height:100%; top:0;left:100%;overflow-y:auto; overflow-x: hidden;scrollbar-width: thin;">

            </div>
        </main>

        <footer>
        </footer>
    </body>
    <script type="text/javascript">
        init();
        window.onresize = function()
        {
            release();
            init();
        }
    </script>
</html>