<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body class="container">

        <header>
            <script src="../library/math.js">
            </script>
            <script src="../library/three.js">
            </script>
            <script src="../src/loop.js"></script>
            <link rel="stylesheet" href="../css/style.css">
        </header>

        <main>
            <div id="canvas">

            </div>

        </main>

        <footer>
        </footer>
    </body>
    <script type="text/javascript">
        init();
    </script>
</html>