<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clement Barbisan</title>
</head>

<link rel="stylesheet" href="../css/mobileStyle.css">

<body style="background-image: none; background-color: black;overflow-y: auto; overflow-x: hidden">

<div id="panel" style="position:absolute; top:10%;left:50%; width:33%; -moz-transform: translateX(-33%);transform: translateX(-33%)">
</div>

<div id="content" style="position: absolute; width: 80%; height:100%; left:10%; top:0; transform: scale(0.0001);-moz-transform: scale(0.0001); border-radius: 5px;">
    <iframe style="width: 100%; height: 100%;border:0;background-color: rgba(0,0,0,0)" id="iframe" src="" >

    </iframe>
</div>
</body>
<script>
    var scale = 0.0001;
    var panel = document.getElementById("panel");
    var iframe = document.getElementById("iframe");
    var content = document.getElementById("content");
    var dictionary = [["20200505", "Leap'Em Up"],["20190603", "Babel Interpreter"], ["20161106", "KeyStrike"], ["20181507", "InsideOut"], ["20170510", "Bodyfail"], ["20170611", "Traversee du silence"], ["20180611", "Magma"], ["20150611", "Dialogue synesthete"], ["20170405", "The Enemy"], ["20171011", "Scan Pyramids VR"], ["20182406", "Karl"], ["20190605", "Semantic Emotions"]];


    function httpGetAsync(theUrl, callback)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("GET", theUrl, true); // true for asynchronous
        xmlHttp.send(null);
    }

    function match() {
        if (window.scale > 0.9)
        {
            return;
        }
        else
            requestAnimationFrame(match);
        window.scale *= 1.1;
        content.style.zoom = window.scale;
        content.style.transform = ("scale(" + window.scale + ")");
    }

    function init() {
        httpGetAsync("/files", function (files) {

            var files = JSON.parse(files);
            for (var i = 0; i < files.length; i++) {
                if (files[i].includes(".html")) {
                    var str = files[i].substring(0, files[i].length - 5);
                    for (var j = 0; j < dictionary.length; j++) {
                        if (dictionary[j][0] === str) {
                            var element = document.createElement("button");
                            //Assign different attributes to the element.
                            element.id = str;
                            element.setAttribute("style", "width:75%; max-height : 20%;margin-bottom:20%; transform:scale(5)");
                            element.innerText = str;
                            element.innerText = dictionary[j][1];
                            element.innerText = dictionary[j][1];
                            element.type = "button";
                            element.value = str;
                            element.name = str;
                            /*element.ontouchend =function (index) {
                                return function () {
                                    iframe.src = index + ".html";
                                    match();
                                };
                            }(str);*/
                            element.onclick = function (index) {
                                return function () {
                                    iframe.src = index + ".html";
                                    match();
                                };
                            }(str);
                            panel.appendChild(element);
                        }
                    }

                }
            }
        });
    }
    init();
</script>

</html>