@font-face {
    font-family: "typewriter";
    src: url('../fonts/monaco.ttf') format("truetype");
}

body {
    overflow: hidden;

}


button{
    opacity: 1;
    background-color: white;
    font-size: 24pt;
    font-family: typewriter, sans-serif;
    border: 0.5px solid black;
    color:black;
}
button:hover {
    opacity: 1;
    color: white;
    background-color: black;
    font-size: 20pt;
    font-family: typewriter, sans-serif;
    border: 0.5px solid white;
}

#panel{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}

#content{
    background-color: white;
}